body{
    background-color: black;
}

.parallax{
    /*Currently an image. Might switch to using a video
    but that might be too much happening on the screen.*/
    background-image: url('images/mainHome1.jpeg');

    /*Fixed position does most of the parallax work.
    Just overlay element on top of it.*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Enlarges picture to what it needs to be.*/
    min-height: 500px;
}


/*
 * Item boxes including the embedded videos and text
 */
.card{
    /*Attempt to make card fix the video.*/
    box-sizing: content-box;

    /*Background is for seeing if there's any sizing problem.*/
    background: #f64b4b;

    /*Let's the card resize according to the size of the video.*/
    display: inline-flex;

    /*Adds a shadow to the box. Offset-X | Offset-Y | Blur-Radius | Color */
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.16);
}

.card:hover{
    /*Make sure the user knows it's clickable.*/
    cursor: pointer;

    /*Smoothly transition into scaling effect.*/
    transition:transform 0.6s;
    transform: scale(1.08);

    /*Disable the annoying scrollbars being added after the scale transform.*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-title{
    /*Bring in front of video.*/
    z-index: 1;

    /*Basic text formatting.*/
    font-size: 1.25rem;
    color: #c2b526;

    /*Easier to position text manually like this.*/
    position: absolute;
    text-align: center;
}

.RL-title{
    /*Centers RLAgents text. Manually tested numbers.*/
    transform: translate(100%, 100%);
}

.Pacman-title{
    /*Centers Pacman text. Manually tested numbers.*/
    transform: translate(80%, 180%);
}


.RL-card{
    /*Index 1 in flex container order.*/
    order: 1;
}

.Pacman-card{
    /*Index 2 in flex container order.*/
    order: 2;
}

.flex-container{
    /*Give a little graying effect. May alter later.*/
    background-color: #f1f1f1;

    /*Row -> Left to Right*/
    flex-direction: row;

    /*Basic cell formatting*/
    padding-top: 40px;
    justify-content: center;
    padding-bottom: 40px;
    gap: 1rem;

    /*What actually makes the class a flex container*/
    display: flex;
}

.background-video{
    /*Puts video behind text*/
    z-index: 0;

    /*Sizes the video to a reasonable pixel height*/
    max-height: 200px;
}

/*
 * About section
 */
.aboutContainer{
    /*Makes the class a flex container that puts items in a row*/
    display: flex;
    flex-direction: row;

    /*Basic cell formatting*/
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    gap: 15rem;
    height: fit-content;

    /*Color subject to change*/

    /*#915918*/
    background-color: #FF9F1C;
}

.aboutImage{
    /*Sets the image*/
    background-image: url("images/Me.png");
    background-repeat: no-repeat;

    /*Makes the image circular*/
    border-radius: 50%;

    /*Keeps a relatively closer dimension size close to the original*/
    height: 300px;
    width: 300px;

    /*Center the image*/
    /*margin-top: 3%;*/
}

.aboutText{
    height: fit-content;
    max-width: 700px;
    background-color: rgba(255, 193, 94, 0.72);
    text-align: center;

    color: black;
}

.aboutText h2{
    font-family: 'Lora', serif;
}

.aboutText p{
    font-family: 'Chivo', sans-serif;
    color: #2c2c2c;

    /*Top, right, bottom, left margins*/
    margin: 5px 20px 15px 20px;
}