.parallax{
    background-image: url('images/mainHome1.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.card{
    box-sizing: border-box;

    background: #f64b4b;
    color: #c2b526;

    min-width: 200px;
    min-height: 200px;
    max-height: 200px;

    /*border-radius: 10px;*/
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);

    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
    /*transition:box-shadow 0.1s ease-in-out*/
}

.card:hover{
    background: #f65e5e;
    transition:transform 0.6s;
    transform: scale(1.08);
}

.card-title{
    /*font-size: 1.25rem;*/
    /*line-height: 1.4;*/
    z-index: 1;
    /*mix-blend-mode: overlay;*/
    position: absolute;
    text-align: center;
    /*width: 100%;*/
    transform: translate(120%);
}


.RL-card{
    grid-column: 1 / 2;
}

.Pacman-card{
    grid-column: 2 / 3;
}

.grid-container{
    padding-top: 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    justify-content: center;
}

#background-video{
    z-index: 0;

    width: 100%;
    height: 100%;
}